@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Shadows+Into+Light&display=swap');

.hello, .projectText{
  font-family: 'Shadows Into Light', cursive;
}

.full-stack{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.arrow-mirror{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.avatar{
  border-radius: 50%;

  box-sizing:border-box;
  border: 5px solid white;

}

.spline-container{
  overflow: hidden;
}

.flash{
  transform: rotate(20deg);
}

.mohammad{
  font-family: 'Shadows Into Light', cursive;
}


.hasan{
  font-family: 'Inter', sans-serif;
  font-weight: 700;

}
.project1{
  background-color: #1E1E1E;
}

.App{
  background-color: #1E1E1E;

}

.show-case{

  font-family:'Spline Sans', sans-serif;
  margin-top: -60px;
  
}



.nav{
  position: sticky;
  top:12px;
  bottom: 10px;
  z-index: 999;
}

.nav-body{
  border-radius: 35px;
}

.nav-items1 div,a{
  margin-right: 24px;
  color: rgb(156, 156, 156);
  font-weight: 600;
  transition: color 0.3s ease-in;
}

.nav-items1 a:hover {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drower-ul{
  border-radius: 20px;
}

.btn1 {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #000000;
  color: rgb(156, 156, 156);
  font-weight: 600;
}

.black-back{
  background-color: rgba(58, 58, 58, 0.397);
}




.profile-card{
  background: hsl(0, 0%, 2% / 0.1);
  backdrop-filter: blur(2rem);
  height: 45vh;
}

.pro-pic{
  background-image: url(../src/img/HasanLinkdin.png);
  height: 150px;
  width: 150px;

  background-position: center;
  background-size: 110%;
  border-radius: 50%;
}



/* Utility */

.br-15{
  border-radius: 15px;
}

.bb{
  background: hsl(0, 0%, 100% / 0.1);
  backdrop-filter: blur(2rem);
}

.bbb{
  background: #121316c5;
  backdrop-filter: blur(1rem);
}



.different-font h2{
  font-family: 'Amiri', serif;
}

.small-heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: rgb(156, 156, 156);
}

.pro-img-holder{
  padding: 30px;

}

.grey-section{
  background-color: rgb(201, 201, 201);

  width: 100%;
  height: 100%;
}

.hasan-pic-holder{
  background-image: url(./img/HasanLinkdin.png);
  background-position: center;
  background-size: 110%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: auto auto;
  border: 10px solid rgb(180, 180, 180);
}

.rounded-project{
  border-radius: 15px;
}

.des-list li{
  list-style: circle;
}

/* card */
.wrapper {

  max-width: 400px;
  margin: 0 auto;
  height: 600px;
  perspective: 900px;
}

.container1 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

#c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}



.container1:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}

#i1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#i2 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

.span span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}

.sun {
  position: absolute;
  top: 50%;
  height: 50%;
  left: 0%;
  width: 100%;
}

.sun1 {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px #fff;
}

.st4 {
  fill: #f8c56f;
  opacity: 1;
}

.st5,
.st7 {
  fill: #fff;
}

#sh2 {
  opacity: 0.5;
}

#sh3 {
  opacity: 0.3;
}

.st6 {
  fill: #59476f;
}

.st10 {
  fill: #c5a7e5;
  stroke: #222;
}

.st11 {
  stroke: #212121;
  opacity: 0.5;
}

#sh1 {
  fill: #f8c56f;
  opacity: 0.4;
}

.st0 {
  fill: #a25a62;
  stroke: none;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #a25a62;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #cd775c;
}

.st3 {
  fill: #fff;
  opacity: 0.3;
}

.story {
  position: absolute;
  top: 100%;
  left: 0%;
  height: 20%;
  width: 100%;
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
  z-index: 30;
}

#s1 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

#s2 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 120%);
}

.info {
  position: absolute;
  top: 10%;
}

h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
}

h4 {
  color: white;
  position: absolute;
  top: 30%;
  left: 30%;
  letter-spacing: 2px;
}

 h1 {
  color: white;
  position: fixed;
  top: 0%;
  left: 30%;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

.page {
  position: absolute;
  top: 80%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}

.span li {
  position: absolute;
  top: 50%;
  list-style: none;
  color: #111;
}

.span li:nth-child(1) {
  left: 15%;
  animation: simple1 1s linear infinite;
}

.span li:nth-child(2) {
  right: 15%;
  animation: simple 1s linear infinite;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

.spline1 {

  transform-origin: -35% 40%;

}



@media only screen and (max-width: 600px) {
  .spline {
    transform: scale(0.6);

  }
  .spline1 {
    transform: scale(0.7);
    transform-origin: -15% 40%;
  }
}

/* glow light*/

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign__word {
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  animation: neon 0.08s ease-in-out infinite alternate;
}
/*-- Animation Keyframes --*/
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
 }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
 }

}