@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@700&family=Spline+Sans:wght@400;600&display=swap');



.App{
  background-image: url(../src/img/cover-pic3.jpg);
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}

.show-case{
  background-color: #17102F;
  font-family:'Spline Sans', sans-serif;
  font-size: 36px;
  color: white;
  margin: 0 auto;
  position: relative;
  margin-top: -60px;
  
}

.spline{
  position: absolute;
  margin: 0;
  top: 0px;
  right: 0;
}

.nav{
  position: sticky;
  top:12px;
  bottom: 10px;
  z-index: 999;
}

.nav-body{
  border-radius: 35px;
}

.nav-items1 div,a{
  margin-right: 24px;
  color: rgb(156, 156, 156);
  font-weight: 600;
  transition: color 0.3s ease-in;
}

.nav-items1 a:hover {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drower-ul{
  border-radius: 20px;
}

.btn1 {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #000000;
  color: rgb(156, 156, 156);
  font-weight: 600;
}

.black-back{
  background-color: rgba(58, 58, 58, 0.397);
}




.profile-card{
  background: hsl(0, 0%, 2% / 0.1);
  backdrop-filter: blur(2rem);
  height: 45vh;
}

.pro-pic{
  background-image: url(../src/img/HasanLinkdin.png);
  height: 150px;
  width: 150px;

  background-position: center;
  background-size: 110%;
  border-radius: 50%;
}



/* Utility */

.br-15{
  border-radius: 15px;
}

.bb{
  background: hsl(0, 0%, 100% / 0.1);
  backdrop-filter: blur(2rem);
}

.bbb{
  background: #121316c5;
  backdrop-filter: blur(1rem);
}



.different-font h2{
  font-family: 'Amiri', serif;
}

.small-heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: rgb(156, 156, 156);
}

.pro-img-holder{
  padding: 30px;

}

.grey-section{
  background-color: rgb(201, 201, 201);

  width: 100%;
  height: 100%;
}

.hasan-pic-holder{
  background-image: url(./img/HasanLinkdin.png);
  background-position: center;
  background-size: 110%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: auto auto;
  border: 10px solid rgb(180, 180, 180);
}

.rounded-project{
  border-radius: 15px;
}

.des-list li{
  list-style: circle;
}